# Common directories and files
.idea/
coverage/
log/
tmp/
!tmp/.gitkeep
.DS_Store
.env*
!.env.example
!.env.test
*.log*
*.pid*

# TypeScript packages
.cdk.*/
cdk.out/
dist/
lib/
!packages/deepcrawl-client/lib/
packages/deepcrawl-client/Gemfile.lock
!packages/eventbus-ruby/lib/
packages/eventbus-ruby/Gemfile.lock
packages/eventbus-ruby/sorbet/rbi/hidden-definitions/errors.txt
packages/deepcrawl-client/.ruby-version
packages/eventbus-ruby/doc/
node_modules/
*.tsbuildinfo
*.tgz
*.zip
.serverless
.eslintcache
_generated/

.docusaurus
.cache-loader
junit.xml
.parcel-cache
.clinic
